<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
    <header>
        <nav>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="redes container">
            <ul type="none">
                <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://music.amazon.es/"><i class="fa-brands fa-amazon" style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"
                            style="color: #0f151f"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>
            EMILIA <br />
            COLE//
        </h3>
    </section>
    <section>
        <h1>TWIST IN MY REALITY</h1>
        <img src="img/emilia-home.jpg" alt="imagen de portada" width="70%" />
    </section>
</body>

</html>