<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index1.css" />
</head>
<body class="body">
    <header class="header container">
        <nav class="nav1">
            <ul type="none">
                <li ><a href="/">HOME</a></li>
                <br>
                <li><a href="/about">ABOUT</a></li>
                <br>
                <li><a href="/music">MUSIC</a></li>
                <br>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="nav2">
            <ul class="lineal" type="none">
                <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple"
                            style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://music.amazon.es/"><i class="fa-brands fa-amazon" style="color: #0f151f"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"
                            style="color: #0f151f"></i></a>
                </li>
            </ul>
            <div>
                <h3 class="nombre">
                    EMILIA <br />
                    COLE //
            </div>
            <div>
                </h3>
                <br>
                <h1 class="cd">TWIST IN MY REALITY</h1>
            </div>
        </nav>
    </header>
</body>

</html>