<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/music1.css" />
</head>
<body>
    <header>
        <section>
        <nav class="pestañas">
            <ul type="none">
                <li><a href="/">| HOME |</a></li>
                <li><a href="/about"> ABOUT |</a></li>
                <li><a href="/music"> MUSIC |</a></li>
                <li><a href="/contact"> CONTACT | </a></li>
            </ul>
        </nav>
        <nav class="redes">
            <ul type = "none">
                <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter" style="color: #0f151f;"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook" style="color: #0f151f;"></i></a></li>
                <li><a href="https://www.spotify.com/ar/intl-es/"><i class="fa-brands fa-spotify" style="color: #0f151f;"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/"><i class="fa-brands fa-apple" style="color: #0f151f;"></i></a></li>
                <li><a href="https://music.amazon.es/"><i class="fa-brands fa-amazon" style="color: #0f151f;"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color: #0f151f;"></i></a></li>
            </ul>
        </nav>
        </section>
        <div>
            <h1>MUSIC//</h1>
        </div>
        <section>
            <h5 class="direct">Direct Links</h5>
        <div class="links">
            <ul type="none">
                <li><a href="#album">Album</a></li>
                <li><a href="#video1">Video: Organic Love</a></li>
                <li><a href="#video2">Video: Street Light</a></li>
            </ul>
        </div>
            <br>
            <article class="songs-disc">
                <h2 id="album">ALBUM <br> TWIST IN MY REALITY</h2>
                <img class="img-disc" src="img/emilia-play-list.png" alt="imagen del Album" width="80%">
                <ol >
                    <li><a href="https://vimeo.com/135166028" target="_blank"><i class="fa-solid fa-play"></i>Organic Love | 02:40</a></li>
                    <li><i class="fa-solid fa-play"></i>Twist In My Reality | 02:10</li>
                    <li><a href="https://vimeo.com/134861419" target="_blank"><i class="fa-solid fa-play"></i>Street Light | 03:28</a></li>
                    <li><i class="fa-solid fa-play"></i>Love Dont Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a class="gotop" href="#gotop">Go top</a>
            </article>
            <br>
            <br>
            <article id="video1">
                <h4>VIDEO <br> ORGANIC LOVE</h4>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <h6>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br>Wix Films LTD.</h6>
                <a class="gotop" href="#gotop">Go top</a>
            </article>
            <br>
            <br>
            <article id="video2">
                <h4>VIDEO <br>STREET LIGHT</h4>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <h6>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br>Wix Films LTD.</h6>
                <a class="gotop" href="#gotop">Go top</a>
            </article>
        </section>

</header>
</body>
</html>